 /* 반응형:rem, 정적: px */
 .wrap-header {
    /* background-color: lavender; */
    padding: 2.25rem;
    margin: 10px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: auto;
    /* 높이를 유동적으로 설정 */
}

.wrap-header nav {
    /* background-color: lemonchiffon; */
    border-radius: 16px;
    position: relative;
    padding: 20px;

}

.header-search {
    /* background-color: rebeccapurple; */

}


.header-logo {
    display: inline-block;
    /* 이미지 크기만큼의 박스를 갖기 위해 inline-block으로 설정 */
    /* background-color: aquamarine; */
    max-width: 100%;
}

.header-logo img {
    display: block;
    /* 이미지를 블록 요소로 설정 -> 부모 요소(header-logo)의 크기에 맞게 */
    width: 100%;
    /* 부모 요소의 너비에 맞게 설정 */
    height: auto;
}

.header-name {
    text-align: center;
    /* background-color: orchid; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-descripName {
    /* background-color: orange; */
}

.header-logoName {
    /* background-color: azure; */
    font-size: x-large;
    font-weight: bold;
}

.wrap-header .dropdown-toggle {
    background-color: lavender;
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 16px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.wrap-header .dropdown-menu:hover {
    background-color: pink;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: black;
    font-weight: bold;
    position: relative;
}

.nav-link:hover,
.nav-link:active {
    color: purple;
    font-weight: 300;
}

.nav-item {
    white-space: nowrap;
    /* 문의하기 글자가 줄지 않도록 설정 */
}

.offcanvas-body {
    align-items: center;
    padding: 20px;
    margin: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-outline-success {
    margin-left: auto;
    margin-right: auto;
    height: 3.125rem;
}

.form-control.me-2 {
    height: 3.125rem;
    /* (50px) */
    width: 43.75rem;
    /* (700px)*/
    font-size: 1.125rem;
}

/* 화면 크기 늘어났을 때 */
@media(min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: black;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }


    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }

    .navbar-nav {
        flex-direction: row;
        /* 네비게이션 아이템을 가로로 배치 */
    }

    .navbar-nav .nav-item {
        margin-right: 50px;
        /* 네비게이션 아이템 사이의 여백*/
    }

}


/* 화면 작아지면 */
@media(max-width: 991px) {

    .header-logo {
        width: 30%;
    }

    .form-control.me-2 {
        width: calc(100% - 2rem);
        /* 화면이 작아질 때니까 전체 너비에서 여백을 뺀 값으로  */
        max-width: 100%;
        /* 전체 너비를 초과하지 않도록 */
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
        max-width: none;
        /*  최대 너비를 해제 -> 꽉 찬 너비로 */
    }

    .header-descripName {
        display: none;
        /* 부연제목 숨기기 */
    }

    .header-logoName {
        display: block;
        /* 로고이름만 나오게*/
    }

    .wrap-header .dropdown {
        /*로그인 부분 절대위치 설정*/
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    .wrap-header .dropdown-menu {
        /* dropdown 메뉴의 배경색 바꾸기 */
        background-color: lightblue;
        /* 배경색 변경 */
        right: 0;
        /* 오른쪽 정렬 해제 */
        left: auto;
        /* 왼쪽 정렬 */
    }

    
}