body {
    width: 1024px;
    margin: auto;
}
.mng_mem_body {
    margin-top: 10px;
}

.mng_mem_body_table {
    text-align: center;
    max-height: 610px;
    min-width: 880px;
    overflow-y: auto;
    align-items: center;
    border: 1px solid rgb(190, 190, 190);
}

.mng_mem_table {
    border-collapse: separate;
	border-spacing: 0;
    width: 100%;
    
}
.mng_mem_table .title {
    position: sticky;
    top: 0; 
    padding: 5px;
    margin: 0;
    border-bottom: 1px solid rgb(190, 190, 190);
    border-right: 1px solid rgb(190, 190, 190);
    background-color: white;
    z-index: 2;
    height: 30px;
    font-size: 20px;
    background-color: #f5f5f5;
    color: #555;
}
.title:last-child {
    border-right: none;
}
.mng_mem_table .content {
    padding: 5px;
    margin: 0;
    border-bottom: 1px solid rgb(190, 190, 190);
    border-right: 1px solid rgb(190, 190, 190);
    color: #4d4d4d;
}
.content_tr:last-child .content {
    border-bottom: none;
}
.content:last-child {
    border-right: none;
}
.mem_list tr:hover{
    background-color: rgb(245, 245, 245);
}
.mng_mem_bot_nav {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: right;
}
.mng_mem_bot_nav > label {
    margin-left: 20px;
    float: left;
    color: #3a3a3a;
    font-size: 14px;
}
.mng_mem_bot_nav > input {
    width: 70px;
    height: 35px;
    font-size: 18px;
    margin: 30px 10px 0 10px;
    border-radius: 2px;
    background-color: rgb(199, 199, 199);
    border: 1px solid rgb(83, 83, 83);
    cursor: pointer;
    font-weight: bold;
    color: rgb(78, 78, 78);
}

.checkbox {
    height: 20px;
    width: 20px;
}

.mem_search_wrapper {
    text-align: right;
}
.mem_search_btn {
}
.mem_search {
    width: 300px;
}














/* 멤버 추가 테이블 */
.mng_mem_register_table {
    border-collapse: collapse;
    width: 880px;
    margin: auto;
    text-align: left;
    background-color: white;
}
.mng_mem_mng_table {
    text-align: center;
}
.mng_mem_add_table {
    text-align: center;
}
.mng_mem_register_table .title {
    padding-left: 15px;
    width: 150px;
}

.mng_mem_register_table .content {
    padding-left: 15px;
}

.mng_mem_register_table td {
    height: 60px;
    justify-content: center;
    border: 1px solid rgb(190, 190, 190);
    color: rgb(65, 65, 65);
}

.input_field {
    font-size: 18px;
    padding: 6px;
    width: 300px;
    border: 1px solid rgb(218, 218, 218);
    color: rgb(88, 88, 88);
}

.phone_msg {
    margin-left: 10px;
    font-size: 12px;
    color: rgb(190, 190, 190);
}

.input_radio {
    width: 17px;
    height: 17px;
}

.input_radio +label {
    margin-right: 40px;
}

.mng_mem_add_bot_nav {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}
.mng_mem_add_bot_nav > * {
    width: 70px;
    height: 35px;
    font-size: 18px;
    margin: 30px 10px 0 10px;
    border-radius: 2px;
    background-color: rgb(199, 199, 199);
    border: 1px solid rgb(83, 83, 83);
    cursor: pointer;
    font-weight: bold;
    color: rgb(78, 78, 78);
}

.info_msg {
    margin-left: 10px;
    font-size: 11px;
    color: rgb(250, 107, 107);
}

.input_field:focus {
    outline: 2px solid blue;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.mng_mem_add_submit:disabled {
    background-color: rgb(242, 242, 242);
    color: #afafaf;
    font-weight:100;
}



/* 스크롤 바 */
.mng_mem_body_table::-webkit-scrollbar {
    width: 12px; /* 스크롤 바의 너비 */
  }
  
  /* 스크롤 바 트랙 */
  .mng_mem_body_table::-webkit-scrollbar-track {
    background-color: #ffffff; /* 스크롤 바의 배경색 */
    border-left: 1px solid rgb(190, 190, 190);
  }
  
  /* 스크롤 바 색상 */
  .mng_mem_body_table::-webkit-scrollbar-thumb {
    background-color: #888; /* 스크롤 바의 색상 */
    border-radius: 6px; /* 스크롤 바의 모서리 반지름 */
  }
  
  /* 스크롤 바 마우스 호버 시 */
  .mng_mem_body_table::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* 스크롤 바의 마우스 호버 시 색상 */
  }
  
  /* 세로 스크롤 바 */
  .mng_mem_body_table::-webkit-scrollbar-vertical {
    width: 12px; /* 세로 스크롤 바의 너비 */
  }