.menu:after
{
  display:block; 
  content:''; 
  clear:both;
}
.menu > li
{
  position:relative; 
  float:left; 
  margin-right:5px;
}
.menu > li > a
{
  display:block; 
  padding:0 15px; 
  background:white; 
  height:40px; 
  color:#fff;
}
.menu > li:hover .depth_1 
{
  display:block;
}
.menu .depth_1
{
  display:none; 
  position:absolute; 
  left:0; 
  right:0; 
  text-align:center;
}
.menu .depth_1 a
{
  display:block;
  padding:5px; 
  background:white; 
  color:black;
  text-decoration-line: none;
}

.menu .depth_1 a:hover {
  background-color: red;
}

.menu_a {
  width: 100px;
}